.grid_container {
  display: grid;
  grid-template-areas:
    "header header"
    "selections items";
  grid-auto-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 2em;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

.login {
  font-size: 1em;
  height: 2em;
  width: 4em;
  background-color: white;
  border: 2px solid #f44336;
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.brand {
  margin-top: auto;
}

.login:hover {
  background-color: #f44336;
  color: white;
}

.source {
  color: gray;
  font-style: italic;
}
