.grid_container {
  display: grid;
  grid-template-areas:
    "brand login"
    "title items";
  grid-auto-columns: 1fr 1fr;
  grid-row-gap: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.details {
  display: grid;
  grid-template-areas:
    "brand login"
    "title title"
    "description description";
  grid-auto-columns: 1fr 1fr;
  grid-row-gap: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

div {
  border: 1px solid black;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

.login {
  font-size: 1em;
  height: 2em;
  width: 4em;
  background-color: white;
  border: 2px solid #f44336;
  display: block;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: auto;
  margin-right: 0;
  grid-area: login;
}

.brand {
  margin-top: 0;
  grid-area: brand;
}

.login:hover {
  background-color: #f44336;
  color: white;
}

.source {
  color: gray;
  font-style: italic;
}

.selections {
  grid-area: title;
}

.latest_items {
  grid-area: items;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}
