.grid_container {
  display: grid;
  grid-template-areas:
    "brand button"
    "title items";
  grid-auto-columns: 1fr 1fr;
  grid-row-gap: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.details {
  display: grid;
  grid-template-areas:
    "brand button"
    "title title"
    "description description"
    "edit_delete edit_delete";
  grid-auto-columns: 1fr 1fr;
  grid-row-gap: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.modify_menu {
  display: grid;
  grid-template-areas:
    "brand button"
    "title title"
    "questions questions";
  grid-auto-columns: 1fr 1fr;
  grid-row-gap: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

#signinContainer {
  display: grid;
  grid-template-areas:
    "welcome welcome"
    "googleSignin fbSignin";
  grid-row-gap: 2em;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

#googleSignin {
  margin: auto;
}

div {
  border: 1px solid black;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

button {
  font-size: 1em;
  height: 2em;
  width: 4em;
  background-color: white;
  border: 2px solid #f44336;
  display: block;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: auto;
  margin-right: 0;
  grid-area: button;
}

.brand {
  margin-top: 0;
  grid-area: brand;
}

button: hover {
  background-color: #f44336;
  color: white;
}

.source {
  color: gray;
  font-style: italic;
}

.selections {
  grid-area: title;
}

.latest_items {
  grid-area: items;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.welcome {
  grid-area: welcome;
}

.googleSignin {
  grid-area: googleSignin;
}

.edit_delete {
  grid-area: edit_delete;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

textarea:invalid {
  box-shadow: 0 0 5px 1px red;
}
