<html>
<head>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<div class="grid_container">
<h1 class="brand">Annapolis Gourmet</h1>
<button type="button" class="login">Login</button>
<body>
  <div class="selections">
    <h2>Selections</h2>
    <li>Soccer</li>
    <li>Basketball</li>
    <li>Baseball</li>
    <li>Frisbee</li>
    <li>Snowboarding</li>
    <li>Rock Climbing</li>
    <li>Football</li>
    <li>Skating</li>
    <li>Hocky</li>
  </div>
  <div class="latest_items">
    <h2>Snowboarding Items</h2>
    <li>Goggles</li>
    <li>Snowboard</li>
  </div>
</body>
</div>
</html>
