<html>
<head>
  <link rel="stylesheet" type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<div class="grid_container">
<h1 class="brand">Annapolis Gourmet</h1>
<button type="button" class="login">Login</button>
<body>
  <div class="selections">
    <h2>Selections</h2>
    {% for selection in selections %}
    <li><a href="{{url_for('selectionMenu', selection_id=selection.id)}}">{{selection.name}}</a></li>
    {% endfor %}
  </div>
  <div class="latest_items">
    <h2>Latest Items</h2>
    {% for item in items %}
    <li>{{item[0]}}<span class="source"> ({{item[1]}})</span></li>
    {% endfor %}
  </div>
</body>
</div>
</html>
